@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: Comfortaa;
}

body{
    height: 100vh;
    background-image: url("images/AAprincipal.jpg");
    background-size: cover;
    position: relative;
}

h1 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 800px;
    transform: translate(-50%);
    font-size: 4em;
    color: white;
    text-shadow: 2px 4px black, 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#paginaPrincipal {
    text-align: center;
    background-color: rgba(240, 248, 255, 0.905);
    padding: 50px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px black;
}

form {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 1.5em;
    
}

input {
    padding: 5px 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-family: Comfortaa;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
}

input:hover {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}